<nav class="navbar navbar-expand-lg shadow-sm p-2 w-100 position-absolute z-3 top-0" style="background-color: #cdb199 !important">
    <div class="container-fluid position-relative">
        <a class="navbar-brand px-3" routerLink="#">
          <img src="../../assets/tractor.webp" height="40" alt="" />
        </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="menu">
          <div class="navbar-nav text-uppercase" style="letter-spacing: 2px">
            <a class="nav-link px-4" routerLink="/tractor" routerLinkActive="active">Tractores</a>
            <a class="nav-link px-4" routerLink="/modelo" routerLinkActive="active">Modelos</a>
            <a class="nav-link px-4" routerLink="/marca" routerLinkActive="active">Marcas</a>
          </div>
        </div>
    </div>
</nav>
  