* {
  font-family: "Kumbh Sans", sans-serif !important;
}

p {
  font-weight: bold;
}

span {
  font-weight: 100;
}

.dialog-title {
  background-color: #cdb199;
  padding: 2em;
  border-bottom: 1px solid gray;
}

.dialog-actions {
  background-color: #cdb199;
  display: flex;
  justify-content: end;
  border-top: 1px solid gray;
}
